.input {
  border: 1px solid #d0cfcf;
  background-color: var(--light-grey);
  width: 100%;
  height: 54px;
  padding: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--text-grey-200);
  outline: none;

  &:focus {
    color: var(--text-black);
    border: 1px solid #d0cfcf;
  }
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px var(--light-grey) inset;
  }
  &:enabled {
    color: var(--text-black);
  }
}

.error {
  border: 2px solid #cb3d40;
  border-radius: 4px;
  background: #f8f8f8;
}
