.button {
  border-radius: 80px;
  min-width: 100px;
  padding: 4px 18px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  transition: background-color 0.3s ease;
}
.disabled {
  background-color: var(--text-grey-100);
  color: var(--text-white-o87);
  cursor: not-allowed;
  pointer-events: none;
}
.yellow {
  background-color: var(--yellow-100);
  color: var(--text-black);
  &:hover {
    background-color: var(--yellow-200);
  }
}
