.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  gap: 20px;
  border-radius: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  background-color: var(--text-white);
  color: var(--text-black);
  overflow: hidden;
  text-align: center;
  p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
.photo {
  border-radius: 100%;
  margin: 0 auto;
  width: 70px;
  height: 70px;
}
