.wrap {
  padding-bottom: 100px;
}
.form {
  max-width: 380px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  gap: 50px;
}
.radioWrap {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.radioInputTitle {
  margin-bottom: 4px;
}
.button {
  display: flex;
  justify-content: center;
}
.radio {
  position: relative;
}
.radioInput {
  display: none;
}
.radioLabel {
}
.text {
  position: relative;
  padding-left: 32px;
  display: inline-block;
  &::before {
    content: "";
    border: 1px solid #00bdd3;
    width: 20px;
    height: 20px;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 0;
  }
  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    background-color: #00bdd3;
    top: 5px;
    left: 5px;
    transition: 0.2s;
    opacity: 0;
    border-radius: 50%;
  }
}

.radioInput:checked + .text::after {
  opacity: 1;
}
